html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    color: #fff;
}

.footer {
    background-color: #333;
    position: relative;
    width: 100vw;
    height: 60vh;
    color: white;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

h3{
    font-size: 15px;
    font-weight: bold;
}

.email{
    width: fit-content;
    margin: 20px 0;
}
.location{
    width: fit-content;
}

.socials{
    width: fit-content;
}


.facebook-link:hover{
    color: #3b5998;
    transition: all 0.9s ease;
    transform: translateY(-20px);
}

.instagram-link:hover{
    color: #c13584;
    transition: all 0.9s ease;
    transform: translateY(-20px);
}

.github-link:hover{
    color: #191414;
    transition: all 0.9s ease;
    transform: translateY(-20px);
}
ul li {
    list-style: none;
    margin-bottom: 12px;
    color: #fff;
    width: fit-content;
}
img {
    float: right;
}

.name{
    width: fit-content;
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
}

.description{
    width: fit-content;
    font-size: 15px;
}

img {
    width: 20vw;
    float: right;
}
.to-top{
    width: 2rem;
    height: 2rem;
    background-color:#fff;
    color: #333;
    float: left;
    border-radius: 100%;
    border: none;
}

.to-top:hover{
    transition: all 0.9s ease;
    transform: translateY(-20px);
}